<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>da</key>
	<string>Dansk</string>
	<key>Danish</key>
	<string>Dansk</string>
	<key>nl</key>
	<string>Nederlands</string>
	<key>Dutch</key>
	<string>Nederlands</string>
	<key>en</key>
	<string>English</string>
	<key>English</key>
	<string>English</string>
	<key>fi</key>
	<string>Suomi</string>
	<key>Finnish</key>
	<string>Suomi</string>
	<key>fr</key>
	<string>Français</string>
	<key>French</key>
	<string>Français</string>
	<key>de</key>
	<string>Deutsch</string>
	<key>German</key>
	<string>Deutsch</string>
	<key>it</key>
	<string>Italiano</string>
	<key>Italian</key>
	<string>Italiano</string>
	<key>ja</key>
	<string>日本語</string>
	<key>Japanese</key>
	<string>日本語</string>
	<key>ko</key>
	<string>한국어</string>
	<key>Korean</key>
	<string>한국어</string>
	<key>no</key>
	<string>Norsk</string>
	<key>Norwegian</key>
	<string>Norsk</string>
	<key>pl</key>
	<string>Polski</string>
	<key>Polish</key>
	<string>Polski</string>
	<key>pt</key>
	<string>Português (Brasil)</string>
	<key>Brazilian Portuguese</key>
	<string>Português (Brasil)</string>
	<key>pt_PT</key>
	<string>Português (Portugal)</string>
	<key>Portuguese</key>
	<string>Português (Portugal)</string>
	<key>ru</key>
	<string>Русский</string>
	<key>Russian</key>
	<string>Русский</string>
	<key>es</key>
	<string>Español</string>
	<key>Spanish</key>
	<string>Español</string>
	<key>sv</key>
	<string>Svenska</string>
	<key>Swedish</key>
	<string>Svenska</string>
	<key>zh_CN</key>
	<string>简体中文</string>
	<key>Simplified Chinese</key>
	<string>简体中文</string>
	<key>zh_TW</key>
	<string>繁體中文</string>
	<key>Traditional Chinese</key>
	<string>繁體中文</string>
</dict>
</plist>
